*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    margin:5px;
    padding:5px;
    height: 100%;
    width: 100%;
    overflow-x: none;
    background-color: #e2e5e8;
    background-color: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);
}
.navcontainer{
    width: 100%;
    height: 100%;
  min-height: 80px;
   background-color: #0093E9;
   background-image: linear-gradient(160deg,#1e313c 0%,#80D0C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#para{
    font-size: 50px ;
    color: rgb(203, 198, 191);
}
nav{
    width: 100%;
}
#list{
    list-style: none;
    font-size: 40px;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: rgb(197, 234, 234);
}
#navitems{
    display: flex;
    gap: 40px;
}
.footerBox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#192a34 0%,#80D0C7 100%);
     color: rgb(3, 76, 52); 
     text-align: center;
     min-height: 40px;
}
.footerBox p{
    color: azure;
    font-size: 20px;
}
.contentBox{
    margin:20px;
    padding:60px;
    width: 60%;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap:100px;
    box-shadow: 0px 0px 40px black ;
}
.item{
    display: flex;
   justify-content: space-around;
  align-items: center;
}
.right{
    position : relative;
    overflow : hidden;
    transition: all 0.6s linear 0s ;
    border-radius: 20px;
    transition: all 0.3s linear 0s;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left h2{
    font-size:30px;
}
.ingredientbox{
    font-size: 1.1rem;
}
.recipebox{
    font-size: 1.1rem;
}
.right:hover {
    transform: scale(1.1);
}
.right .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius:20px ;
    background-color: rgb(49, 54, 59,0.7);
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: all 0.3 linear 0s ;
}
.right:hover .overlay{
    opacity:1;

}
.right .overlay span{
    color: #ffffff;
    font-size: 0.9rem;
}